In [7]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
#relative path: PyCitySchools\Resources
school_data_to_load = Path("PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
#Calculate the total number of Unique schools
unique_schools_df = school_data_complete_df['school_name'].nunique()
unique_schools_df

15

In [14]:
#Calculate the total number of students
total_students_df=school_data_complete_df['student_name'].count()
total_students_df

39170

In [51]:
#Calculate the total budget
#total_budget_df=school_data_complete_df.groupby('school_name')['budget'].sum().reset_index()
total_budget_df = school_data_complete_df.groupby('school_name')['budget'].first().reset_index()
total_budget_sum=total_budget_df['budget'].sum()
total_budget_sum

24649428

In [22]:
#Average Math score
mean_math_score_df = school_data_complete_df['math_score'].mean()
mean_math_score_df

78.98537145774827

In [23]:
#Average Reading score
mean_reading_score_df = school_data_complete_df['reading_score'].mean()
mean_reading_score_df

81.87784018381414

In [26]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students_df) * 100
passing_math_percentage

74.9808526933878

In [28]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students_df) * 100
passing_reading_percentage

85.80546336482001

In [39]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students_df) * 100
overall_passing_rate

65.17232575950983

In [59]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary=pd.DataFrame({
    'Total Schools':[unique_schools_df],
    'Total Students':[total_students_df],
    'Total Budget': [total_budget_sum],
    'Average Math Score':[mean_math_score_df],
    'Average Reading Score': [mean_reading_score_df],
    '% Passing Math':[passing_math_percentage],
    '% Passing Reading':[passing_reading_percentage],
    '% Overall Passing':[overall_passing_rate]
    })

district_summary=district_summary[['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326


## School Summary

In [63]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [69]:
# Calculate the total student count per school from school_data

per_school_counts = school_data_complete_df.groupby("school_name").size().reset_index(name='student_count')
per_school_counts

              school_name  student_count
0      Bailey High School           4976
1     Cabrera High School           1858
2    Figueroa High School           2949
3        Ford High School           2739
4     Griffin High School           1468
5   Hernandez High School           4635
6      Holden High School            427
7       Huang High School           2917
8     Johnson High School           4761
9        Pena High School            962
10  Rodriguez High School           3999
11    Shelton High School           1761
12     Thomas High School           1635
13     Wilson High School           2283
14     Wright High School           1800

In [80]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget =school_data_df[["school_name", "budget"]].drop_duplicates()
per_school_summry =pd.merge(per_school_counts, per_school_budget, on="school_name")
per_school_summry["budget_per_student"] = per_school_summry["budget"] / per_school_summry["student_count"]
per_school_summry

              school_name  student_count   budget  budget_per_student
0      Bailey High School           4976  3124928               628.0
1     Cabrera High School           1858  1081356               582.0
2    Figueroa High School           2949  1884411               639.0
3        Ford High School           2739  1763916               644.0
4     Griffin High School           1468   917500               625.0
5   Hernandez High School           4635  3022020               652.0
6      Holden High School            427   248087               581.0
7       Huang High School           2917  1910635               655.0
8     Johnson High School           4761  3094650               650.0
9        Pena High School            962   585858               609.0
10  Rodriguez High School           3999  2547363               637.0
11    Shelton High School           1761  1056600               600.0
12     Thomas High School           1635  1043130               638.0
13     Wilson High School           2283  1319574               578.0
14     Wright High School           1800  1049400               583.0

In [91]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete_df.groupby("school_name")[["math_score"]].mean().reset_index()

per_school_reading = school_data_complete_df.groupby("school_name")[["reading_score"]].mean().reset_index()

In [94]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
#school_students_passing_math =school_data_complete_df.groupby("school_name")[(["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
school_students_passing_math = school_data_complete_df.groupby('school_name')[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

KeyError: 'Columns not found: False, True'

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100